<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.toload.main" android:installLocation="auto"
	android:versionCode="148" android:versionName="3.2.0">

	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
	<uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.INSTALL_PACKAGES" />
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

	<application android:icon="@drawable/icon" android:label="@string/ime_name">

		<!-- LIME Services -->
		<service android:name=".LIMEService" android:permission="android.permission.BIND_INPUT_METHOD">
			<intent-filter>
				<action android:name="android.view.InputMethod" />
			</intent-filter>
			<meta-data android:name="android.view.im" android:resource="@xml/method" />
		</service>

		<!-- LIME Services -->
		<service android:name=".SearchService">
			<intent-filter>
				<action android:name="net.toload.main.ISearchService"></action>
			</intent-filter>
		</service>
		<service android:name=".DBService">
			<intent-filter>
				<action android:name="net.toload.main.IDBService"></action>
			</intent-filter>
		</service>

		<activity android:name=".LIMEMenu" android:label="@string/ime_setting">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<!--

			<activity android:name=".LIMESetting"
			android:label="@string/ime_setting"> </activity>
		-->
		<activity android:name=".LIMEInitial" android:label="@string/ime_setting">
		</activity>
		<activity android:name=".LIMEIMSetting" android:label="@string/ime_setting">
		</activity>
		<activity android:name=".LIMEMappingSetting" android:label="@string/ime_setting">
		</activity>
		<activity android:name=".LIMEPreference" android:label="@string/ime_setting">
		</activity>

	</application>

	<uses-sdk android:minSdkVersion="3" />
	<supports-screens 
		android:largeScreens="true"
		android:normalScreens="true" 
		android:smallScreens="true"
		android:anyDensity="true" />

</manifest> 

